#code{
    
    margin-bottom: 10px;
    padding: 10px;
    margin-top: -20px;
}



.skillsd{
  position: absolute;
  top: 131rem;
  font-size: 3rem;
  color: yellow;
  left: 39rem;
  margin-top: 2rem;

    
}
.pr{
    position: absolute;
    top: 140rem;
    font-size: 25px;
    position: absolute;
    left:  38rem;
    bottom: 21rem;
    white-space: nowrap;
    margin-top: auto;
     
}
.ml{
    position: absolute;
    top: 143rem;
    font-size: 25px;
    position: absolute;
    left:  38rem;
    bottom: 21rem;
    white-space: nowrap;
    margin-top: 10rem;
    margin-bottom: 10rem;
    
}
.wb{
    position: absolute;
    top: 146rem;
    font-size: 25px;
    position: absolute;
    left:  38rem;
    bottom: 21rem;
    white-space: nowrap;
    margin-top: auto;
}
.p1 {
    width: 90px;
    position: absolute;
    top: 138rem;
    left: 30rem;
    border-radius: 5px;
}
.w1{
    width: 90px;
    position: absolute;
    top: 145rem;
    left: 30rem;
    border-radius: 5px;
}
.a1{
    width: 100px;
    position: absolute;
    top: 152rem;
    left: 30rem;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .skillsd {
        top: 140rem; 
        margin-top: 2.5rem;
        margin-bottom: -3rem;
        position: absolute;
        left: 10rem;
        font-size: 1.5rem;
        overflow: hidden;
       
        
    }

    .pr{
        left: 9rem; 
        margin-top: 2rem;
        font-size: 10px;
        position: absolute;
        top: 145rem;
        

    }
    .ml{
        left: 9rem; 
        margin-top: 2rem;
        font-size: 10px;
        position: absolute;
        top: 150rem;

    }
    .wb {
        left: 9rem; 
        margin-top: 2rem;
        font-size: 10px;
        position: absolute;
        top: 155rem;
        
    }

    .p1{
        width: 50px; 
        left: 5rem;
        position: absolute;
        top:146rem ;
    }
    .w1{
        width: 50px; 
        left: 5rem;
        position: absolute;
        top: 151rem;
    }
    .a1{
        width: 50px; 
        left: 5rem;
        position: absolute;
        top: 156.5rem;
    }
        
    
}