#contactPage{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactPageTitles{
    margin-top: 5rem;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: yellow;
    
}
.contactPageTitle{
    margin-top: 29rem;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: yellow;


}

.clientDesc{
    font-weight: 300;
    font-size: 1rem;
}
.clientImgs{
    display: grid;
    position: relative;
    right: 23rem;
    gap: 80px;
    margin-top: -23rem;
    
}
.clientImg{
    object-fit: cover;
    width: 23%;
    min-width: 18rem;
    margin: auto;
    padding: 0.25rem;
    border-radius: 30px;
}

#clients{
    padding: 2rem;
}

.contactDesc{
    padding:1rem;
    font-size:medium;
    font-weight: 300;
    

}

.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
} 

.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40,40,40);
}

.submitBtn{
    background:white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}
.links{
    display: flex;
    flex-wrap: wrap;
   
}

.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;

}
.b{
    font-size: 20px;
    text-align: left;
    display: grid;
    position: relative;
    left: 18rem;
    gap: 80px;
    margin-top: 10rem;
    
}
.m{
    font-size: 20px;
    text-align: left;
    display: grid;
    position: relative;
    left: 18rem;
    gap: 80px;
    margin-top: 10rem;
    
}

@media (max-width: 768px) {
    .clientImg {
        width: 100%;
    }

    .contactPageTitles {
        margin-top: 5rem;
        font-size: 1.5rem;
    }

    .contactPageTitle{
        margin-top: 25rem;
        font-size: 1.5rem;

    }


    .b {
        text-align: center;
        left: 0rem;
        margin-top: 20rem;
        font-size: 10px;
        position: relative;
        top: -2rem;
    }
    .m{
        text-align: center;
        left: 0rem;
        margin-top: 20rem;
        font-size: 10px;
        position: relative;
        top: -6rem;
    }
    .clientImgs {
    display: grid;
    position: relative;
    top: -2rem;
    right: 1rem;
    gap: 150px;
    margin-top: -42rem;
    
    }
    .submitBtn{
        color: black;
    }
   
}