#works{
    margin: 0 auto;
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    
}

.worksTitle{
    margin-top: 4rem;
    margin-right: -1rem;
    font-size: 3rem;
    color: yellow;

}
.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}


.workBtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;


}
.tp{
   font-size: 25px;
   position: absolute;
   left:  7rem;
    bottom: 21rem;
    white-space: nowrap;
    margin-top: auto;
   

   
}
.sl{
    font-size: 25px;
    position: absolute;
    left:  8rem;
    bottom: 10rem;
    white-space: nowrap;  
}
.csudh{
    font-size: 25px;
    position: absolute;
    left:  8rem;
    bottom:-0.3rem;
    white-space: nowrap;  
}


.jobs {
    display: grid;
    position: relative;
    right: 11rem;
    gap: 80px;
    margin-top: 5rem;

    
}


.wrk{
  height: 80px;
   
}

@media screen and (max-width:585px) {
    .worksImg{
        height: 48vw;
    }
   .tp{
    font-size: 20px;
   }
   .sl{
    font-size: 20px;
   }
   .csudh{
    font-size: 20px;
   }
    
}